git+https://github.com/Rapptz/discord.py
asyncio
websockets==6.0
discord
discord.py[voice]
youtube_dl
gtts
BeautifulSoup4
requests
lxml
selenium
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
oauth2client
